{# cn.form.button — Button preset #}
<button
    type="{{ type | default='button' }}"
    {!
    if
    variant
    !}
    class="is-{{ variant }}"
    {!
    endif
    !}{!
    if
    disabled
    !}
    disabled{!
    endif
    !}{!
    if
    action
    !}
    data-cn-action="{{ action }}"
    data-cn-method="{{ method | default='POST' }}"
    {!
    endif
    !}{!
    if
    loading
    !}
    data-cn-loading="{{ loading }}"
    {!
    endif
    !}{!
    if
    loading-class
    !}
    data-cn-loading-class="{{ loading-class }}"
    {!
    endif
    !}{!
    if
    data
    !}
    data-cn-data="{{ data }}"
    {!
    endif
    !}{!
    if
    open
    !}
    data-cn-open="{{ open }}"
    {!
    endif
    !}{!
    if
    close
    !}
    data-cn-close{!
    endif
    !}
>
    {{ label }}
</button>
