{# cm.form.password — Password input preset #}
{! if label !}<label{! if id !} for="{{ id }}"{! endif !}>{{ label }}</label>{! endif !}
<input type="password"
    {! if id !}id="{{ id }}"{! endif !}
    {! if name !}name="{{ name }}"{! endif !}
    {! if placeholder !}placeholder="{{ placeholder }}"{! endif !}
    {! if required !}required{! endif !}
    {! if disabled !}disabled{! endif !}
    {! if minlength !}minlength="{{ minlength }}"{! endif !}
    {! if maxlength !}maxlength="{{ maxlength }}"{! endif !}
    autocomplete="{{ autocomplete | default='current-password' }}"
    {! if validate !}data-cm-validate="{{ validate }}"{! endif !}>
